<div class="tinyd6 roll roll-result {{#if (gt rollResult.total 0)}}bg-success{{^}}bg-danger{{/if}}">
    {{#if settings.enableCriticalHits }}
    {{/if}}
    <h3>{{#if (gt rollResult.total 0)}}
            {{#if bCrit}}
                {{#if critEnabled }}
                    {{localize "tinyd6.dice.roll.Critical"}}
                {{^}}
                    {{localize "tinyd6.dice.roll.Success"}}
                {{/if}}
            {{^}}
                {{localize "tinyd6.dice.roll.Success"}}
            {{/if}}
    {{^}}
        {{#if bBotch}}
                {{#if botchEnabled }}
                    {{localize "tinyd6.dice.roll.Botch"}}
                {{^}}
                    {{localize "tinyd6.dice.roll.Failure"}}
                {{/if}}
            {{^}}
                {{localize "tinyd6.dice.roll.Failure"}}
            {{/if}}
    {{/if}}</h3>


</div>
<div class="tinyd6 dice-breakdown d-flex justify-content-center">
    {{#each rollResult.terms as |piece|}}
        {{#each piece.results as |die|}}
            <span class="mx-3">
                <span class="fas fa-2x {{face die.result }}"></span>
            </span>
        {{/each}}
    {{/each}}
</div>
